@import "tailwindcss";

@config "../tailwind.config.js";

@layer components {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }

  /* Webkit browsers (Chrome, Safari, Edge) */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #e2e8f0; /* default-200 equivalent */
    border-radius: 10px;
  }

  .dark .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #334155; /* gray-700 equivalent */
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1; /* default-300 equivalent */
  }
}